# Virtual Environment
venv/

# Raw datasets
data/raw/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Environment
.env

venv311/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/silver/
data/gold/
spark-warehouse/
.DS_Store